@font-face {
    font-family: 'CascadiaMono';
    src: url('/assets/fonts/CascadiaMono.woff2');
}

.config-disabled {
    background-color: #6c6c6c;
    color: #939393;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('');
    background-size: cover;
    background-position: center;
    z-index: -1;    
    background-color: #4C4C4C;

}

.body {
    width: 100%;
    height: 100%;
    font-family: "Oxanium", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    
}

.headsup {
    border: 1px transparent black;
    width: 1650px;
    height: 20px;

    color: white;
}

.main {
    border: 1px transparent black;
    margin-top: 5px;
    width: 100%;
    height: 765px;

    font-family: "Oxanium", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;


}

.left {
    border: 1px transparent black;

    margin-left: 10px;
    margin-top: 5px;

    height: 750px;
    width: 900px;
}

.right {
    border: 1px transparent black;

    margin-top: 5px;
    width: 715px;
    margin-left: 920px;
    margin-top: -751px;

    height: 750px;

}

.starship {
    border: 1px dotted black;

    width: 894px;
    height: 320px;

    margin-left: 2px;
    margin-top: 2px;

    text-align: center;
}

.starship img {
    width: 98%;
    height: 98%;
}

.settings-buttons {
    border-top: 1px solid#868686;
    border-left: 1px solid#868686;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    

    width: 894px;
    height: 40px;

    margin-left: 2px;
    margin-top: 8px;

    text-align: center;

    background-color: #666666;
}

.settings-buttons button {
    padding: 0px 0px;
    margin: 5px 50px;


    background-color: transparent;



    
    color: white;

    width: 90px;
    height: 30px;
}

.settings-buttons button:hover {
    cursor: pointer;

}

.settings {
    border: 1px solid black;


    width: 500px;
    height: 350px;
     
    margin-left: 15px;
    margin-top: 20px;

    color: #FFE800;

    background-color: #666666;

    border-top: 1px solid#868686;
    border-left: 1px solid#868686;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

.unlock {

        border-top: 1px solid#868686;
        border-left: 1px solid#868686;
        border-right: 1px solid black;
        border-bottom: 1px solid black;

        width: 300px;
        height: 350px;

        margin-top: -351px;
        margin-left: 575px;
        color: #FFE800;

        background-color: #666666;
}

.console {
    border-top: 1px solid#868686;
    border-left: 1px solid#868686;
    border-right: 1px solid black;
    border-bottom: 1px solid black;

    height: 620px;
    width: 710px;

    margin-top: 2px;
    margin-left: 2px;

    color: #FFE800;

    background-color: #666666;
}

.info-box {
    border-top: 1px solid#868686;
    border-left: 1px solid#868686;
    border-right: 1px solid black;
    border-bottom: 1px solid black;

    height: 25px;
    width: 710px;

    margin-top: 10px;
    margin-left: 2px;

    text-align: center;

    background-color: #666666;
    
}

.info-box a {
    margin: 15px;
}

.info-box button {
    background-color: transparent;
    border: transparent;

    padding: 0px 0px;
    margin: 5px 50px;

    color: white;
    
}

.info-box button:hover {
    cursor: pointer;

    
}


.inside-module-settings {
    margin-top: 15px;
    margin-left: 4px;
    width: 490px;
    height: 305px;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid #868686;
    border-bottom: 1px solid #868686;

    background-color: #323232;

    color: white;
}

.inside-module-unlock {
    margin-top: 15px;
    margin-left: 4px;
    width: 290px;
    height: 305px;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid #868686;
    border-bottom: 1px solid #868686;

    background-color: #323232;
}

.inside-module-console {
    margin-top: 15px;
    margin-left: 4px;
    width: 700px;
    height: 575px;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid #868686;
    border-bottom: 1px solid #868686;

    background-color: #323232;

    color: white;
    font-family: CascadiaMono, monospace;
}

.inside-module-console p {
    padding: -1px -1px;
}

.text {


    margin-top: 3px;
    margin-left: 5px;

    text-shadow: 2px 2px 5px black;


} 


.unlock-img {

    border: none;
    background: none;

    margin-top: 50px;
    margin-left: 15px;

    width: 255px;
    height: 220px;

    text-align: center;
}

.unlock-img img {
    width: 100%;
    height: 100%;
}

.hidden {
    display: none;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}
  
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #BD5757;
    -webkit-transition: .4s;
    transition: .4s;
}
  
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
  
input:checked + .slider {
    background-color: #81AA6D;
}
  
input:focus + .slider {
    box-shadow: 0 0 1px #81AA6D;
}
  
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

input:disabled + .slider {
    background-color: #6c6c6c;
}
  
  /* Rounded sliders */
.slider.round {
    border-radius: 34px;
}
  
.slider.round:before {
    border-radius: 50%;
}

.lightSwitch {

    margin-left: 1px;
    margin-top: 1px;
    width: 60px;
}

.selector {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    width: 140px;

    border: 1px solid transparent;    

    margin-top: 88px;
    margin-left: 165px;
}



.text {
    flex-grow: 1;
    text-align: center;
}

.lightsHolder {
    border: 1px solid transparent;

    margin-top: 9px;
    width: 450px;
    height: 38px;
    margin-left: 20px;
    
}

.lightSubmitButton {
    margin-top: 40px;
    margin-left: 200px;
}

.lightSubmitButton button{
    width: 100px;
    height: 30px;
}

.textLabel {
    border: 1px solid transparent;

    width: 50px;
    height: 16px;
    margin-left: 370px;
    margin-top: -25px;
}

.textLabel2 {
    border: 1px solid transparent;

    width: 50px;
    height: 16px;
    margin-left: 370px;
    margin-top: -37px;
}

.textLabel3 {
    border: 1px solid transparent;

    width: 50px;
    height: 16px;
    margin-left: 370px;
    margin-top: -40px;
}

.selector {
    width: 140px;
    height: 40px;

    position: relative;

    border: 1px solid transparent;


    margin-top: -32px;
}

.selector2 {
    width: 140px;
    height: 40px;

    border: 1px solid transparent;


    margin-left: 165px;
    margin-top: -25px;
}

.selector3 {
    width: 140px;
    height: 40px;

    border: 1px solid transparent;


    margin-left: 165px;
    margin-top: -30px;
}

.leftSound {
    border: 1px solid transparent;

    width: 250px;
    height: 290px;

    margin-top: 5px;
    margin-left: 5px;
}

.rightSound{
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid #868686;
    border-bottom: 1px solid #868686;

    background-color: #232323;

    height: 290px;
    width: 210px;

    margin-left: 270px;
    margin-top: -290px;
}

.option {
    border: none;
    background: none;

    width: 100%;
    padding-bottom: 5px;

    font-size: 18px;
    color: white;
    cursor: pointer;
}

.option:disabled {
    background-color: #6c6c6c;
    color: #939393;
}

.option:hover:not(:disabled) {
    background-color: #636361;
}

.songTitle {
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid #868686;
    border-bottom: 1px solid #868686;

    width: 200px;
    height: 20px;
    margin-top: 5px;
    margin-left: 25px;
    text-align: center;
}

.playButton {
    width: 50px;
    height: 25px;

    border: 1px solid transparent;

    margin-top: 560px;
    margin-left: 75px;
}

.playButton button {
    width: 100px;
    height: 30px;
    
}


.slidecontainer {

    margin-top: -500px;
    width: 100px;
    height: 20px;
    margin-left: -55px;

    font-size: 14px;

    border: 1px solid transparent;
}


  
  .range {

    margin-top: 515px;
    margin-left: 100px;

    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .range:hover:not(:disabled) {
    opacity: 1;
  }
  
  .range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 23px;
    height: 24px;
    border: 0;
    background: url('assets/icons/helldiversmall.png');
    cursor: pointer;
  }
  
  .range::-moz-range-thumb {
    width: 23px;
    height: 24px;
    border: 0;
    background: url('assets/icons/helldiversmall.png');
    cursor: pointer;
  }




.popup {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
    justify-content: center;
    align-items: center;
}

.popup-content {
    background-color: #666666;
    margin: auto;
    padding: 10px;
    border: 1px solid #888;
    width: 300px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    animation: animatepopup 0.4s;
    border-radius: 10px;
    color: #FFE800;
}

.popup-content a{
    color: white;
}

@keyframes animatepopup {
    from {top: -300px; opacity: 0} 
    to {top: 0; opacity: 1}
}


.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {

    text-decoration: none;
    cursor: pointer;
}

.popup2 {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
    justify-content: center;
    align-items: center;
}

.popup-content2 {
    background-color: #666666;
    margin: auto;
    padding: 10px;
    border: 1px solid #888;
    width: 300px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    animation: animatepopup 0.4s;
    border-radius: 10px;
    color: #FFE800;
}

.popup-content2 p{
    color: white;
}



.close2 {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close2:hover,
.close2:focus {

    text-decoration: none;
    cursor: pointer;
}

.module {
    border: 1px solid transparent;
}


